.body {
  background-color: red;
}
/* .header-part {
  color: blue;
} */
.nav-bar {
  background-color: red;
  font-style: italic;
  font-weight: bolder;
}
.image {
  color: brown;
  text-align: center;
  font-size: 50px;
  background-color: chocolate;
  border-style: ridge;
}
.short_story {
  color: indigo;
  font-size: 50px;
  font-style: italic;
  background-color: lightseagreen;
  display: block;
  background-position: center;
  text-align: center;
  padding: 10px;
  /* border-radius: 10px 10px; */
  outline-style: ridge;
  outline-color: goldenrod;
  outline-width: 3px;
}
.novel-head {
  color: indigo;
  font-size: 50px;
  font-style: italic;
  background-color: lightseagreen;
  display: block;
  background-position: center;
  text-align: center;
  padding: 10px;
  /* border-radius: 10px 10px; */
  outline-style: ridge;
  outline-color: goldenrod;
  outline-width: 3px;
}
.drama-head {
  color: indigo;
  font-size: 50px;
  font-style: italic;
  background-color: lightseagreen;
  display: block;
  background-position: center;
  text-align: center;
  padding: 10px;
  /* border-radius: 10px 10px; */
  outline-style: ridge;
  outline-color: goldenrod;
  outline-width: 3px;
}
.poets-head {
  color: indigo;
  font-size: 50px;
  font-style: italic;
  background-color: lightseagreen;
  display: block;
  background-position: center;
  text-align: center;
  padding: 10px;
  /* border-radius: 10px 10px; */
  outline-style: ridge;
  outline-color: goldenrod;
  outline-width: 3px;
}
.short-section {
  color: lime;
  font-style: italic;
}

.footer-section {
  color: brown;
  text-align: center;
  font-weight: bolder;
}
